groupBy


Used to group similar values together, just like SQL GROUP BY.

üëâ ‚ÄúPut same department employees together.‚Äù

In [1]:
df.show()

NameError: name 'df' is not defined

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.getOrCreate()

data = [
    (1, "Alice", "HR", "2024-01-10", None, ["Python", "SQL"]),
    (2, "Bob", None, "2024-02-15", 5000, ["Java"]),
    (3, "Charlie", "IT", None, 7000, None)
]

columns = ["id", "name", "dept", "join_date", "salary", "skills"]

df = spark.createDataFrame(data, columns)
df.show(truncate=False)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/01/15 18:13:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
26/01/15 18:13:25 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
26/01/15 18:13:25 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

+---+-------+----+----------+------+-------------+
|id |name   |dept|join_date |salary|skills       |
+---+-------+----+----------+------+-------------+
|1  |Alice  |HR  |2024-01-10|NULL  |[Python, SQL]|
|2  |Bob    |NULL|2024-02-15|5000  |[Java]       |
|3  |Charlie|IT  |NULL      |7000  |NULL         |
+---+-------+----+----------+------+-------------+

groupBy

Used to group similar values together, just like SQL GROUP BY.

üëâ ‚ÄúPut same department employees together.‚Äù

In [3]:
new_data = [
    (4, "David", "HR", "2024-03-01", 6000, ["Excel"])
]

new_df = spark.createDataFrame(new_data, df.schema)

In [4]:
df=df.union(new_df)
df.show(truncate=False)

+---+-------+----+----------+------+-------------+
|id |name   |dept|join_date |salary|skills       |
+---+-------+----+----------+------+-------------+
|1  |Alice  |HR  |2024-01-10|NULL  |[Python, SQL]|
|2  |Bob    |NULL|2024-02-15|5000  |[Java]       |
|3  |Charlie|IT  |NULL      |7000  |NULL         |
|4  |David  |HR  |2024-03-01|6000  |[Excel]      |
+---+-------+----+----------+------+-------------+

In [5]:
df.groupBy("dept").max("salary").show()

+----+-----------+
|dept|max(salary)|
+----+-----------+
|  HR|       6000|
|NULL|       5000|
|  IT|       7000|
+----+-----------+

In [6]:
df.groupBy("dept").show()

AttributeError: 'GroupedData' object has no attribute 'show'

‚ùå This alone won‚Äôt show results
‚úîÔ∏è Must be followed by aggregation

agg


Used to apply aggregation functions on grouped data.

üëâ ‚ÄúAfter grouping, calculate something.‚Äù

In [7]:
df.groupBy("dept").max("salary").show()

+----+-----------+
|dept|max(salary)|
+----+-----------+
|  HR|       6000|
|NULL|       5000|
|  IT|       7000|
+----+-----------+

count


Counts number of rows in each group.

In [9]:
df.groupBy("dept").count().show()

+----+-----+
|dept|count|
+----+-----+
|  HR|    2|
|NULL|    1|
|  IT|    1|
+----+-----+

sum


Adds up values in a column

In [10]:
df.groupBy("dept").sum("salary").show()

+----+-----------+
|dept|sum(salary)|
+----+-----------+
|  HR|       6000|
|NULL|       5000|
|  IT|       7000|
+----+-----------+

avg


Calculates average (mean) value.

In [11]:
df.groupBy("dept").avg("salary").show()

+----+-----------+
|dept|avg(salary)|
+----+-----------+
|  HR|     6000.0|
|NULL|     5000.0|
|  IT|     7000.0|
+----+-----------+

max


Finds highest value in each group

In [12]:
df.groupBy("dept").max("salary").show()

+----+-----------+
|dept|max(salary)|
+----+-----------+
|  HR|       6000|
|NULL|       5000|
|  IT|       7000|
+----+-----------+

min


Finds lowest value in each group

In [14]:
df.groupBy("dept").min("salary").show()

+----+-----------+
|dept|min(salary)|
+----+-----------+
|  HR|       6000|
|NULL|       5000|
|  IT|       7000|
+----+-----------+

In [16]:
df.groupBy("dept").agg(
    count("id").alias("emp_count"),
    sum("salary").alias("total_salary"),
    avg("salary").alias("avg_salary"),
    max("salary").alias("max_salary"),
    min("salary").alias("min_salary")
).show()

+----+---------+------------+----------+----------+----------+
|dept|emp_count|total_salary|avg_salary|max_salary|min_salary|
+----+---------+------------+----------+----------+----------+
|  HR|        2|        6000|    6000.0|      6000|      6000|
|NULL|        1|        5000|    5000.0|      5000|      5000|
|  IT|        1|        7000|    7000.0|      7000|      7000|
+----+---------+------------+----------+----------+----------+